@model MVCFacturacion.Models.TBLCLIENTES
@{
    ViewBag.Title = "Nuevo Cliente";
    Layout = "~/Views/Shared/_LayoutFacturacion.cshtml";
}
<h2 class="well">Ingreso Cliente</h2>
@using (Html.BeginForm("Nuevo", "TBLClientes", FormMethod.Post))
{
    <p>@Html.LabelFor(d => d.StrNombre): @Html.TextBoxFor(d => d.StrNombre)</p>
    <p>@Html.LabelFor(d => d.NumDocumento): @Html.TextBoxFor(d => d.NumDocumento)</p>
    <p>@Html.LabelFor(d => d.StrDireccion): @Html.TextBoxFor(d => d.StrDireccion)</p>
    <p>@Html.LabelFor(d => d.StrTelefono): @Html.TextBoxFor(d => d.StrTelefono)</p>
    <p>@Html.LabelFor(d => d.StrEmail): @Html.TextBoxFor(d => d.StrEmail)</p>
    <input type="submit" class="btn btn-success" value="Guardar" />
    <a class="btn btn-primary" href="~/TBLClientes">Retornar</a>
}
